// Fonts
// @font-face {
//   font-family: "DK Lemon Yellow Sun";
//   src: url("../fonts/DKLemon.otf");
// }

// Variables
@import 'variablesStore';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.feather {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.feather-sm {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  svg {
    stroke-width: 2;
  }
}

.navbar-nav img {
  height: 10vh;
}

.app-form > div {
  margin-top: 1em;
}

.card .padding {
  padding: 1em;
}

.action {
  margin-top: 2em;
}

.padding{
  padding: 1em;
}

.card{
  margin-bottom: 5em;
  header{
    img{
      width: 100%;
    }
  }
}

.card-product{
  max-width: 400px;
  margin: 1em 0;
  strong{
    text-transform: uppercase;
  }
  
  &.total{
    margin-top: 2em;
    padding-top: 2em;
    border-top: solid 1px #eee;
  }
}

.payments{
  img {
    margin-bottom: 30px;
    display: block;
  }
}

.center{
  justify-content: center;
  text-align: center;
}

#home{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shop_now {
  font-family: "Big Brother";
  font-size: 3rem;
  padding: 5px 20px;
  position: absolute;
  top: 80vh;
  z-index: 20;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.home_CI{
  top: 70vh;
}

.home_CC{
  top: 20vh;
}

.home_CII{
  height: 1vh!important;
  width: 2vw!important;
}

.home_img_carrousel{
  height: 100vh;
}

.home_arrows_carrousel{
  font-size: 4rem;
  color: #E89622;
}

.cat{
  height: 60%;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #E89622;
}

#header{
  height: 15vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
}

#header_options{
  width: 15vw; color: #E89622;
  position: absolute; right: 2vw;
  font-size: 1.5rem;
  z-index: 20;
  opacity: 1!important;
}

.header_links{
  cursor: pointer;
}

#fixed_logo{
  position: fixed;
  height: 15vh;
  left: 2vw;
  top: 7.5vh;
  z-index: 20;
}

#menu{
  position: fixed;
  top: 20vh;
  right: 10vw;
  height: 50vh;
  width: 15vw;
  background-color: black;
  opacity: 1;
  z-index: 20;
  text-align: center;
  color: white;
  padding-top: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "DK Lemon Yellow Sun";
  font-size: 1.5rem;
}

.fire{
  width: 2vw;
}

.fire:hover{
  cursor: pointer;
}

.menu_links:hover{
  color: #E89622!important;
  cursor: pointer;
}

#socialmedia {
  position: fixed;
  left: 4.1vw;
  top: 30vh;
  font-size: 3.5rem;
  z-index: 20;
  color: #E89622;
}

.social_links:hover{
  cursor: pointer;
}

#store_header {
  height: 15vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#store_container {
  position: relative;
  height: 85vh;
}

.store_header_img {
  height: 60%;
  z-index: 25;
}

// .best_seller{
//   position: absolute;
//   width: 100%;
//   top: 0;
//   height: 10vh;
//   z-index: 5;
// }

// #bestseller{
//   padding: 1px 15vw;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.destacados_img {
  height: 100%; max-width: 100%; padding-top: 1vh; padding-bottom: 1vh;
}

.categories {
  height: 75vh;
  padding: 10vh 10vw;
  color: aliceblue;
  width: 100%;
  top: 10vh;
  position: absolute;
  z-index: 15;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #E89622;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #E89622;
  background: #E89622;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  z-index: 16;
  width: 30%;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
}


.search1 {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm1 {
  width: 100%;
  border: 3px solid #E89622;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm1:focus {
  color: black;
}

.searchButton1 {
  width: 40px;
  height: 36px;
  border: 1px solid #E89622;
  background: #E89622;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap1{
  z-index: 20;
  width: 30%;
  position: relative;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

#consejos{
  position: relative;
  height: 100vh;
}

#entrar{
  position:absolute;
  top: 40vh; 
  z-index:200;
  margin-left:auto;
  margin-right:auto;
  width: 15vw;
  height: auto;
}

#footer{
  position: relative;
  height: 100%;
  background-color: black;
}

#mini-footer{
  background-color: #131212ed;
  color: #ffffff7a;
  padding: 2px;
}


.bg-black{
  background-color: black;
}

.card-title a{
  color: black;
}

.card-body .row .btn{
  background-color: black;
  color:white;
}

.pt-4, .py-4 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.card .card-body{
  font-family:  DK Lemon Yellow Sun;
}

.pro-card{
  border-top: 5px solid #E89622;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin-top:16px;
}