// Body
// $body-bg: #1e1e2f;
// @font-face {
//   font-family: "DK Lemon Yellow Sun";
//   src: url("../fonts/DKLemon.otf");
// }

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #e14eca;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;